<nav class="navbar bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
        <img class="img-fluid d-block logoimg p-3" src="assets/logo1.png" alt="logo">
    </a>
    <!-- <a class="navbar-brand logo" href="#"><h1>TRM</h1></a>
    <button class="navbar-toggler"></button> -->
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link mx-3" href="#"><i class="fa fa-home fa-1x "></i>HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-3" href="#"><i class="fa fa-bell fa-1x "></i>NOTIFICATOIN</a>
        </li>
    </ul>
</nav>
<section class="container-fluid bodycontent">
    <div class="row">
        <div class="col-lg-3 bg-dark d-block">
            <table>
                <tr>
                    <td><i class="fa fa-user fa-2x"></i></td>
                    <td><h4><a routerLink="/PersonalComponent" routerLinkActive="active">Personal Profile</a></h4></td>
                </tr>
                <tr>
                    <td><i class="fa fa-registered fa-2x"></i></td>
                    <td><h4><a routerLink="/ReqtrainingComponent" routerLinkActive="active">Register Training</a></h4></td>
                </tr>
                <tr>
                    <td><i class="fa fa-users fa-2x"></i></td>
                    <td><h4><a routerLink="/EmpdetailsComponent" routerLinkActive="active">Employee Record</a></h4></td>
                </tr>
                <tr>
                    <td><i class="fa fa-leanpub fa-2x"></i></td>
                    <td><h4><a routerLink="/CoursestatusComponent" routerLinkActive="active">Training Status</a></h4></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6">
            <router-outlet></router-outlet> 
        </div>
        <div class="col-lg-3">
        </div>
    </div>  
</section>